
<%= form_tag side_contents_save_path, remote: true  do |f| %>

  <%= hidden_field_tag(:project_id, @project_id) %>

  <div>
    <h2>共通</h2>
    <%= text_area_tag(:common_text, @common_text, style: 'width:100%;height:200px') %>
  </div>

  <div style='margin-top:10px;'>
    <h2>プロジェクト</h2>
    <%= text_area_tag(:project_text, @project_text, style: 'width:100%;height:200px') %>
  </div>

  <div style="margin-top:10px;">
    <%= submit_tag '保存'%>
  </div>

<% end %> 
